<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vote.mappers.CommentInfoMapper">

    <resultMap id="base_result_map" type="com.vote.data.po.CommentInfo">
        <result column="comment_id" property="commentId"/>
        <result column="snap_id" property="snapId"/>
        <result column="text" property="text"/>
        <result column="ctime" property="ctime"/>
        <result column="status" property="status"/>
        <result column="user_id" property="userId"/>
    </resultMap>

    <sql id="base_column_list">
        c.comment_id,
        c.snap_id,
        c.text,
        c.ctime,
        c.status,
        c.user_id
    </sql>

    <sql id="base_condition_field">
        <if test="query.commentId != null">
            AND c.comment_id = #{query.commentId}
        </if>
        <if test="query.snapId != null">
            AND c.snap_id = #{query.snapId}
        </if>
        <if test="query.snapIdList != null and query.snapIdList.size() > 0">
            AND c.snap_id IN
            <foreach collection="query.snapIdList"
                     item="snapIdItem"
                     open="("
                     close=")"
                     separator=",">
                #{snapIdItem}
            </foreach>
        </if>
        <if test="query.userId != null and query.userId != ''">
            AND c.user_id = #{query.userId}
        </if>
        <if test="query.status != null">
            AND c.status = #{query.status}
        </if>
    </sql>

    <sql id="query_condition">
        <where>
            <include refid="base_condition_field"/>
            <if test="query.textFuzzy != null and query.textFuzzy != ''">
                AND c.text LIKE CONCAT('%', #{query.textFuzzy}, '%')
            </if>
            <if test="query.userIdFuzzy != null and query.userIdFuzzy != ''">
                AND c.user_id LIKE CONCAT('%', #{query.userIdFuzzy}, '%')
            </if>
        </where>
    </sql>

    <select id="selectList" resultMap="base_result_map">
        SELECT
        <include refid="base_column_list"/>
        FROM comment_info c
        <include refid="query_condition"/>
        <if test="query.orderBy != null and query.orderBy != ''">
            ORDER BY ${query.orderBy}
        </if>
        <if test="query.simplePage != null">
            LIMIT #{query.simplePage.start}, #{query.simplePage.end}
        </if>
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM comment_info c
        <include refid="query_condition"/>
    </select>

    <select id="selectByCommentId" resultMap="base_result_map">
        SELECT
        <include refid="base_column_list"/>
        FROM comment_info c
        WHERE c.comment_id = #{commentId}
    </select>

    <select id="selectBySnapId" resultMap="base_result_map">
        SELECT
        <include refid="base_column_list"/>
        FROM comment_info c
        WHERE c.snap_id = #{snapId}
          AND c.status = 0
        ORDER BY c.comment_id DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectByUserId" resultMap="base_result_map">
        SELECT
        <include refid="base_column_list"/>
        FROM comment_info c
        WHERE c.user_id = #{userId}
          AND c.status = 0
        ORDER BY c.comment_id DESC
    </select>

    <insert id="insert"
            parameterType="com.vote.data.po.CommentInfo"
            useGeneratedKeys="true"
            keyProperty="bean.commentId"
            keyColumn="comment_id">
        INSERT INTO comment_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.snapId != null">
                snap_id,
            </if>
            <if test="bean.text != null">
                text,
            </if>
            <if test="bean.ctime != null">
                ctime,
            </if>
            <if test="bean.status != null">
                status,
            </if>
            <if test="bean.userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="bean.snapId != null">
                #{bean.snapId},
            </if>
            <if test="bean.text != null">
                #{bean.text},
            </if>
            <if test="bean.ctime != null">
                #{bean.ctime},
            </if>
            <if test="bean.status != null">
                #{bean.status},
            </if>
            <if test="bean.userId != null">
                #{bean.userId},
            </if>
        </trim>
    </insert>

    <update id="updateText">
        UPDATE comment_info
        SET text = #{text}
        WHERE comment_id = #{commentId}
          AND status = 0
    </update>

    <update id="updateStatus">
        UPDATE comment_info
        SET status = #{status}
        WHERE comment_id = #{commentId}
    </update>

    <delete id="deleteByCommentId">
        DELETE FROM comment_info
        WHERE comment_id = #{commentId}
    </delete>

</mapper>
